{% extends '::base.html.twig' %}

{% block body %}

    <h1>Create new author</h1>
    <div class="col-xs-4">
    {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
    </div>

    <div class="col-xs-12">
    <ul>
        <li><a href="{{ path('author') }}">Author manager</a></li>
    </ul>
    </div>
{% endblock %}